{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "quoteProps": "preserve",
  "svelteAllowShorthand": false,
  "svelteBracketNewLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
